html{
    scroll-behavior: smooth;
}

body{
    text-align: center;
    color: white;
}

button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

a:hover, button:hover{
    opacity: 0.5;
}

.dropdown-toggle::after {
    display: none !important; 
}

#header{
    background: #0A2647;
    color: aliceblue;
    padding: 20px;
    position: sticky;
    top: 0px;
    z-index: 2;
    justify-content: right;
}

#dropdown{
    margin-right: 10px;
    margin-left: 10px;
}

#abouttext:hover, #portfoliotext:hover, #contacttext:hover{
    background-color: #205295;
}

#abouttext, #portfoliotext, #contacttext{
    color: white;
}

#insidedropdown{
    background-color: #144272;
}

#about{
    background-color: #2C74B3;
    padding-top: 5%;
    padding-bottom: 5%;
}

#me{
    width: 70%;
}

#portfolio{
    background-color: #205295 ;
    padding-top: 5%;
    padding-bottom: 5%;
    height: 20%;
}

#porex, #fitex{
    display: block;
    width: 100%;
    border-radius: 10px;
}

#contact{
    background-color: #144272 ;
    padding-top: 5%;
    padding-bottom: 5%;

}

#gmail, #insta{
    width: 20%;
    max-height: fit-content;
}

#footer{
    background-color: #0A2647;
    color: aliceblue;
    width: 100%;
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 1%;

}
